
.details>ul{
    
    margin: 0 10px;
}
.drop{
    background-color: #373737;
    
}
body{
    overflow-x: hidden;
    height: 100vh;

    background-color: #373737;


}
.head-wrapper{
    border-bottom: 5px solid #DC993B;

}
.detail-main >img{
    margin-top: 60px;
}